/* Colors */
:root {
    --dark: #1E1E1E;
    --light: #E0E0E0;
    --sec-light: #A0A0A0;
}

/* Scrollbar Style */
html::-webkit-scrollbar {
    width: 8px;
}
  
html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 10px;
    border: 2px solid var(--dark);
}

body {
    scrollbar-color: #555 #333;
    scrollbar-width: thin;
    background-color: var(--dark);
}

/* Search */
.search {
    color: var(--light);
}

.search .search-icon {
    position: absolute;
    left: calc(15% + 12px);
    top: calc(50% - 7px);
}

.search .manual-main-btn {
    width: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    position: absolute;
    left: calc(85% - 3rem);
    height: 100%;
    color: var(--light);
    transition: all 0.3s ease;
}

.search .manual-main-btn:hover {
    background-color: var(--light);
    color: var(--dark);
}

.search input {
    width: 70%;
    padding: 0.5rem 1rem;
    padding-left: 2.5rem;
    outline: none;
    background-color: transparent;
    border: 1px solid #333;
    font-size: large;
    color: var(--light);
    caret-color: var(--light);
}

.search-show input {
    width: 8%;
    padding: 0.25rem 0.5rem;
    text-align: center;
    margin: 0.5rem 0.5rem;
    border-radius: 3rem;
    font-size: 1.1rem;
}

/* Search */

/* Results */

.results {
    margin-top: 5rem;
}

.results .item {
    cursor: pointer;
    margin-bottom: 3rem;
    width: 100%;
}

.results .title {
    font-size: 1.1rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light);
}

.results .info {
    font-size: 1rem;
    color: var(--sec-light);
}

.results .info .year {
    font-weight: 500;
}

.results .info span {
    font-size: 0.85rem;
}

.results .subtitles {
    font-size: 1.2rem;
    padding: 1px 8px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.results .subtitles:hover {
    transform: scale(1.1);
}

.results .item .img-div {
    overflow: hidden;
    border-radius: 1rem;
}

.results .item .img-div img {
    width: 100%;
    height: 100%;
}

.results .item .img-div::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.25rem;
    content: "\f04b";
    color: #f8f9fa;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.337);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}
.results .item .img-div:hover::before, .results .item .img-div:hover .specs, .results .item .img-div:hover .movie-info {
    opacity: 100%;
}

/* Results */

/* Loader */
.loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(24, 24, 24, 0.3);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--light);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
/* Loader */